[Unit]
Description=Navigational Sunglasses
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/navigational-sunglasses
ExecStart=/usr/bin/python3 /home/pi/navigational-sunglasses/main.py
Restart=on-failure
RestartSec=2
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
